body {
    max-width: 1160px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.photo-identite {
    
    border: 4px solid;
    border-radius: 50%;
    max-width: 200px;
}

header {

}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

section {
    margin-left: 2em;
    margin-right: 2em;
    
}