body {
    background-color: #f5f5f5;
}
header, footer {
    background-color: #17abb3;
}
.skills {
    background-color: #e3e3e3;
}
.profil {
    background-color: #ffffff;
}
img {
    color: #ffffff;
}