/* --- all --- */
body {
    
    display: flex;
    flex-direction: column;
}
header, main, footer {
    width: 1160px;
    margin: auto;
}
img {
    max-width: 16px;
    margin: 0 0.5em;
}

.no-marker {
    padding-inline-start: 0px;
}
.no-marker > li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
/* --- identify-contact --- */
.photo-identite {

    border: 4px solid;
    border-radius: 50%;
    max-width: 150px;
    height: 150px;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.job , h1 {
    text-align: center;
}
.contact {
    display: flex;
}
.contact > ul > li {
    list-style: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* --- description --- */

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

section {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
    
}
section > ul {
    padding-inline-start: 20px;
    list-style-type: square;
}
h3 {
    margin-block: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ---footer--- */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer > div {
    margin-top: 1em;
}
footer > small {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

